.main-title {
    margin-top: 2rem;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    text-align: center;
    padding-block: 0rem;
}

.producto {
    border-radius: 7rem;
    overflow: hidden;
}

.producto > div {
    justify-content: space-between; 
    padding: 10rem;
    display: flex;
    gap: 0.5rem;
}

.producto > img {
    width: 100%;
    object-fit: cover;
}


.producto .ver-mas {
    text-decoration: none;
    color: white;
    padding: 1rem;
    width: max-content;
    border-radius: 2rem;
    transition: .2s;
}

.producto .ver-mas:hover {
    background-color:  #00FF00 !important; 
    color: white;
}

.producto-detalle {
    padding-block: 2rem;
    margin-left: 500px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.producto-detalle img {
    width: 100%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}

.categoria {
    font-size: .8rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}


.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid black;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid var(--clr-main);
    outline: 2px solid var(--clr-main);
}